body {
    font-family: Arial, sans-serif;
    background-color: #375b8b;
}

.container {
    width: 80%;
    margin: 40px auto;
    background-color: #7093d3;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #8270d1;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.menu {
    background-color: #6454c0;
    padding: 10px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 20px;
}

.content img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.footer {
    background-color: #5965ac;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}